
/* main styles
===========================*/

#navside {
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 350px;
  height: 100%;
  clear: both;
  background-color: #fff;
  padding: 0 40px;
}

#navside.hidden { visibility: hidden; }

#navside.left {
  left: 100%;
  margin-left: 0px;
  text-align: left;
}
/*left*/
#navside.right {
  right: 100%;
  margin-left: 50px;
  text-align: left;
}

#navside ul {
  list-style: none;
  padding: 0;
  margin-left: 20%;
  width: 100%;
}

#navside ul li a {
     font-family: "Zoloft";
     font-weight: bold;
  text-decoration: none;
  display: block;
  color:#081B42;
  line-height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: color;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: color;
  -ms-transition-duration: 0.1s;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: color;
  -o-transition-duration: 0.1s;
  -o-transition-timing-function: ease-out;
  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  direction: ltr;
}

#navside ul li a:hover { color: #00AF27; }

#icon { width: 140px; }

#navside_icon {
      z-index: 2;
  position: fixed;
  top: 27px;
  display: block;
  width: 40px;
  height: 40px;
  background: #333333;
  background: url(http://51.254.97.198/NFU/frontend/assets/img/icon21.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

#navside_icon.hidden { visibility: hidden; }

#navside_icon.right { right: 10px; }

#navside_icon.left { left: 10px;


}
#sidebar-menu {
  top: 0px;
  width: 100%;
}

#sidebar-menu li { border-bottom: 1px solid rgba(238, 238, 238, 0.05); }

#sidebar-menu a {
  text-decoration: none;
  color: #595959;
}

#sidebar-menu a:hover {
  text-decoration: none;
  color: #595959;
}