<header class="header_init"  ng-show="headerMain" ng-header="{
        'slides': [{
        'video': {
        'src': [
        './frontend/assets/img/NFUVideo720.mp4'
        ],
        'loop': 'true',
        'mute': 'true'
        }
        }],
        'overlay': 'true'
        }">
    <div id="top" class="header">
        <div class="text-vertical-center">
            <h1 id="margin_header">NFU</h1>
            <h3>Nos Falta Uno</h3>
            <br>
            <a href="#/login" class="btn btn-dark btn-lg">Inicia sesión</a>
            <br>
            <br>
            <br>
            <br>



            <div class="form-group">


                <div class="input_header">
                    <div class="col-xs-3">
                        <input type="text" class="input-control" placeholder="MUNICIPIO" id="inputmunicipio">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="input-control" placeholder="DEPORTE" id="inputdeporte">
                    </div>

                    <div class="col-xs-3">
                        <a href="" id="btn_buscar" class="btn btn-primary active">BUSCAR</a>

                    </div>

                </div>

            </div>

        </div>
        <div>

        </div>
    </div>
</header>




<div class="header_register" ng-show="headerRegister" >



    <!--<a href="" class="brand" title="Ir a inicio"><img src="<?php echo VIEW_PATH_IMG ?>LogoNFUBlanco.png" class="img_icon" alt="NFU" border="0" id="imageLogo" style="padding-left: 0px;"/></a>-->

    <a href="#/login"  style="padding:5px !important" class="buttonlogin">Iniciar sesión</a>



</div>





<div class="header_usu_register" id="pc_vision" ng-show="headerUsu" >

    <div class="col-xs-4"><center><a href="#/users_games" class="btn" ><h3>Partidos</h3></a></center></div>
    <div class="col-xs-1"><a href="#/install" class="btn" ><h3>Instalaciones</h3></a></div>
    <div class="col-xs-3 distance_usu"><input type="text" class="form-control size_input_usu_header pull-right" placeholder="Buscar..."></div>
    <!--<div class="col-xs-3"><a href="<?php amigable('?module=login&function=create_users'); ?>" class="btn" ><h3>Mi cuenta</h3><i class="fa fa-sort-desc"></i></a></div>-->
    <div class="col-xs-2 distance_setting">
        <ul class="nav nav-tabs size_usu_perfil">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog fa-3x"></i><!--Mi Perfil-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/users_games">Mis Partidas</a></li>
                    <li><a href="#/users">Mi Perfil</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-2 distance_usu"><img src="{{avatar}}" class="img-circle avatar_usu" alt="Tu Avatar"></div><!--<?php echo MEDIA_ROOT ?>-->

</div>



<div class="header_usu_register_mov_tab" id="mobile_vision" ng-show="headerUsu" >

    <div class="col-xs-4"><center><a href="#/users_games" class="btn" ><h3>Partidos</h3></a></center></div>
    <div class="col-xs-1"><a href="#/install" class="btn" ><h3>Instalaciones</h3></a></div>
    <div class="col-xs-3 distance_usu"><input type="text" class="form-control size_input_usu_header pull-right" placeholder="Buscar..."></div>
    <!--<div class="col-xs-3"><a href="<?php amigable('?module=login&function=create_users'); ?>" class="btn" ><h3>Mi cuenta</h3><i class="fa fa-sort-desc"></i></a></div>-->
    <div class="col-xs-2 distance_setting">
        <ul class="nav nav-tabs size_usu_perfil">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog fa-3x"></i><!--Mi Perfil-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/users_games">Mis Partidas</a></li>
                    <li><a href="#/users">Mi Perfil</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-2 distance_usu"><img src="{{avatar}}" class="img-circle avatar_usu" alt="Tu Avatar"></div><!--<?php echo MEDIA_ROOT ?>-->

</div>



<!--

<div class="header_usu_register_mov_tab" id="mobile_vision" ng-show="headerUsu" >
    <div class="col-xs-2 distance_setting_mov_tab">
        <ul class="nav nav-tabs size_usu_perfil">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog fa-3x"></i><!--Mi Perfil-->
                   <!--<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/games_form">Partidas</a></li>
                    <li><a href="#/install">Instalaciones</a></li>
                    <li><a href="#/users_games">Mis Partidas</a></li>
                    <li><a href="#/users">Mi Perfil</a></li>
                    <li role="presentation" class="divider"></li>
                    <li class="col-xs-2 distance_usu"><img src="{{avatar}}" class="img-circle avatar_usu" alt="Tu Avatar"></li><!--<?php echo MEDIA_ROOT ?>-->
                   <!-- <li><a href="#/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<br>
-->


<div class="header_admin_register" id="pc_vision"  ng-show="headerAdmin">

    <div class="col-xs-4"><a href="" class="btn" ><h3></h3></a></div>
    <div class="col-xs-1"><a href="" class="btn" ><h3></h3></a></div>
    <div class="col-xs-3 distance_usu"><input type="text" class="form-control size_input_usu_header pull-right" placeholder="Buscar..."></div>
    <!--<div class="col-xs-3"><a href="<?php amigable('?module=login&function=create_users'); ?>" class="btn" ><h3>Mi cuenta</h3><i class="fa fa-sort-desc"></i></a></div>-->
    <div class="col-xs-2 distance_setting">
        <ul class="nav nav-tabs size_usu_perfil">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog fa-3x"></i><!--Mi Perfil-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">Administrar Partidas</a></li>
                    <li><a href="#/users">Mi Perfil</a></li>
                    <li><a href="#/admin_users_list">Administrar Usuarios</a></li>
                    <li><a href="">Administrar Instalaciones</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-2 distance_usu"><img src="{{avatar}}" class="img-circle avatar_usu" alt="Tu Avatar"></div><!--<?php echo MEDIA_ROOT ?>-->

</div>











<div class="header_admin_register_mov_tab" id="mobile_vision"  ng-show="headerAdmin">
    <div class="col-xs-2 distance_setting_mov_tab">
        <ul class="nav nav-tabs size_usu_perfil">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog fa-3x"></i><!--Mi Perfil-->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Administrar Partidas</a></li>
                    <li><a href="#">Administrar Instalaciones</a></li>
                    <li><a href="#">Administrar Partidas</a></li>
                    <li><a href="#">Mi Perfil</a></li>
                    <li role="presentation" class="divider"></li>
                    <li class="col-xs-2 distance_usu"><img src="{{avatar}}" class="img-circle avatar_usu" alt="Tu Avatar"></li><!--<?php echo MEDIA_ROOT ?>-->
                    <li><a href="#/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>





